<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Times</title>
    <link rel="stylesheet" href="estilo_time.css">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Fundação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" onsubmit="paginar()"></td>
            </tr>
        </tbody>
    </table>
    <div>
    <button id="anterior" disabled>&lsaquo; Anterior</button>
        <span id="numeracao"></span>
    <button id="proximo" disabled>Próximo &rsaquo;</button>
    </div>
</body>
<script src="time.js"></script>
</html>