<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_login.css">
    <script src="https://kit.fontawesome.com/24d4ae26d9.js" crossorigin="anonymous"></script>
    <title>Tela login</title>
</head>
<body>
    <div id = "divtxt">
        <h1>LOGIN</h1>
    </div>
    <div id ="div1">
        <div id="login_usuario">
            <i class="fas fa-user" id = "iconuser"></i> 
            <br>    
            <input type="text" id = "usertxt" placeholder= "Usuário">
            <br>
            <i class="fas fa-key" id="passicon"></i>
            <br>
            <input type="text" id = "usertxt" placeholder= "Senha">
        </div>
        <br>
        <input type="button" value = "Entrar" id = "entrarbtn" >
    </div>
    
</body>
<footer>&copy;JGN</footer>
</html>