<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina principal</title>
    <link rel="stylesheet" href="estilo_pincipal.css">
    <script src="https://kit.fontawesome.com/24d4ae26d9.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-arrow-alt-circle-down"></i>
        </label>

        <label class="logo">
            <img src="/imgs/draence-bola.png" id="bola-draence">
        </label>
        <Ul>
            <LI>
                <i class="fas fa-home"></i>
                <a href="">Início</a>
            </LI>
            <LI>
                <i class="far fa-futbol"></i>
                <a href="../time/time.html">Times</a>
            </LI>
            <LI>
                <i class="fas fa-trophy"></i>
                <a href="">Campeonatos</a>
            </LI>
            <LI>
                <i class="fas fa-sign-in-alt"></i>
                <a href="../login/login.html">Login</a>
            </LI>
        </Ul>
    </nav>
<section>
    <div id = "div1">
        <img src="/imgs/CDF.png" alt="" id="cdf-logo">
    </div>

    <div class = "search-box">
        <input type="text" name="" class="search-txt" placeholder="Pesquisar...">
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>
</section>
<footer>&copy;JGN</footer>
</body>
</html>